.education{
    margin: 50px 0;
}
.headCol{
    margin: 0 auto;
}
.img-fluid{
    border-radius: 10px;
}
.eduCompPart{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.titlePart *{
    margin: 20px 0;
}
.titlePart h1{
    font-weight: bold;
    font-size: 50px;
}
.btnEduComp *{
    padding: 10px 30px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
.nameColor{
    color: #ffc107;
}