.calendarCenter{
    margin: 0 auto;
}
.react-calendar {
    width: 100% !important;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    position: relative;
    margin: 70px 0;
}
.react-calendar__month-view__days button {
    height: 132px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 10px solid white;
    font-size: 40px;
    font-weight: bold;
    flex-flow: row-reverse;
}
.react-calendar__month-view__weekdays__weekday abbr{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    
}

.react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}
.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button{
    display: none;
}
.react-calendar__tile.react-calendar__month-view__days__day abbr{
    margin: 53px 12px 0 0;
}
/* .react-calendar__tile.react-calendar__month-view__days__day, .react-calendar__month-view__days__day--neighboringMonth{
    max-width: 11%;
} */
.react-calendar__navigation{
    display: inline-block !important;
    position: absolute;
    top: -94px;
    right: 52px;
}
 .react-calendar__navigation__prev-button, .react-calendar__navigation__next-button{
    width: 50px !important;
    min-height: 50px !important;
    border-radius: 25px;
    border: 1px solid black !important;
    margin: 20px;
    background-color: white;
}

.react-calendar__navigation__label {
    margin: 20px !important;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: white;
    border: none;
}
.calendarCenter h1{
    font-weight: bold;
}
.class1{
    background-color: red;
}