.zaNas{
    margin: 70px auto;
}
.zaNas .headCol{
	margin: 0 auto;
}
.zaNas .card{
    height: 570px !important;
    margin: 15px 0;
    position: relative;
}
.zaNas .card:hover{
	transform: scale(1.03);
	box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
	transition: 0.5s all ease-in-out;
	
}
.zaNas button{
    border-radius: 30px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.zaNas button i{
    font-size: 30px;
    padding: 8px 4px;
}
.btn-outline-dark:hover{
    color: #ffc107;
}
.card-title{
	font-weight: bold;
	font-size: 26px;
}
.card-body{
	font-weight: 600;
    font-size: 17px;
}
.card-body p{
	line-height: 1;
}
.zaNas h2{
    text-align: center;
    font-weight: bold;
	font-size: 50px;
	margin: 30px;
}
.zaNas a{
    text-decoration: none;
    color: black;
}
.zaNas a:hover{
    color: black;
    text-decoration: none;
}
.zaNas img:hover{
    transform: scale(1.03);
}

/* hover effect */
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
	height: 252px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover03 figure img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
@media only screen and (max-width: 600px) {
	.zaNas h2{
		font-size: 37px;
	}
	.zaNas{
		margin: 0;
	}
}